@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Ganeshpeth Nagpur<br />
    Nagpur, 440018<br />
    <abbr title="Phone">P:</abbr>
    998.6033.322
</address>

<address>
    <strong>Support:</strong> <a href="mailto:box.sumit@gmail.com">box.sumit@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:arjunm@gmail.com">arjunm@gmail.com</a>
</address>
